{% extends 'blog/index.html' %}
{% block title %}Обо мне - Евгений Волчёк{% endblock %}
{% block content %}
<div class="container">
    <h1>Обо мне</h1>
    <p>Привет! Меня зовут Евгений Волчёк, и я разработчик на Python. Я увлечён созданием
        эффективных программных продуктов. Мой путь в мир IT начался с Urban University,
        где я получил фундаментальные знания и навыки, которые использую в своей работе каждый день.</p>

    <h2>Мое Образование</h2>
    <p>Я окончил Urban University, где специализировался на программировании и разработке программного обеспечения.
        Образование в этом учебном заведении помогло мне освоить не только технические навыки,
        но и научило критически мыслить и находить решения сложных задач.</p>

    <h2>Мои Навыки</h2>
    <ul>
        <li><strong>Python:</strong> Разработка веб-приложений, автоматизация процессов, обработка данных.</li>
        <li><strong>Django:</strong> Создание и поддержка веб-приложений.</li>
        <li><strong>Базы данных:</strong> Работа с SQL.</li>
    </ul>

    <h2>Мои Ценности</h2>
    <p>Я верю в постоянное саморазвитие и стремлюсь быть в курсе последних тенденций в мире технологий.
        Моя цель — создавать качественные и надежные программные решения, которые делают жизнь людей проще и удобнее.</p>

    <p>Если у вас есть вопросы или предложения о сотрудничестве, пишите мне на <a href="mailto:zehrbit@gmail.com">zehrbit@gmail.com</a>!</p>
</div>
{% endblock %}